<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Favorite Food</title>
  </head>

  <body>
    <% name = params[:name]  %>
    <% food = params[:favorite_food] %>
    <h1><%= "Hi im #{name} and I love to eat #{food}" %></h1>


  </body>
</html>
